body {
    margin: 0px;
}

header {
    font-size: 30px;
    color: rgb(38, 38, 76);
    height: 100px;
    padding-top: 20px;
}

.nav {
    height: 50px;
    max-width: 100%;
    margin: auto;
    background-color: rgb(239, 238, 238);
    margin-top: 20px;
}

header nav a {
    font-size: 20px;
    margin-right: 25px;
    margin-top: 10px;
    text-decoration: none;
    color: gray;
}


.main {
    max-width: 400px;
    height: 440px;
    margin: auto;
    color: rgb(38, 38, 76);
}

.main h1 {
    color: rgb(38, 38, 76);
    padding-top: 20px;
    text-align: center;
}

input {
    width: 350px;
    height: 30px;
}

textarea {
    width: 350px;
    height: 50px;
}

button {
    margin-top: 10px;
    width: 350px;
    height: 30px;
    background-color: rgb(38, 38, 76);
    color: white;
    margin-bottom: 30px;

}

footer {
    background-color: rgb(239, 238, 238);
    height: 150px;
    width: 100%;
    color: gray;
    margin: auto;
    text-align: center;
    position: relative;
}

.text {
    padding-top: 25px;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media(max-width: 766px) {
    header nav a {
        font-size: 10px;
        text-align: center;
    }

    .nav {
        padding-left: 15px;
    }

    input {
        width: 300px;
    }

    textarea {
        width: 300px;
    }

    button {
        width: 300px;
    }

}